<div class="card">
    <div class="card-header bg-dark">
        <h3 class="card-title text-white">
            <i class="far fa-image"></i>Upload a image
        </h3>

    </div>

    <div class="card-body">
        <form action="/images" method="POST" enctype="multipart/form-data">
            <div class="form-group">
                <div class="input-group">
                    <div class="custom-file">
                        <input type="file" name="image" class="custom-file-input" id="inputGroup"
                            aria-describedby="imputGroupFileAddon" required>
                        <label class="custom-file-label" for="inputGroupFIle">Choose your file</label>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <input type="text" name="title" class="form-control" placeholder="Title for the image" required>
            </div>
            <div class="form-group">
                <textarea name="description" cols="30" rows="2" class="form-control"
                    placeholder="Description for the image"></textarea>
            </div>

            <div class="form-group">
                <button class="btn btn-success">
                    <i class="fa fa-upload"></i>Upload Image
                </button>
            </div>
        </form>
    </div>

</div>

<div class="card mt-2">
    <div class="card-header bg-dark text-white">
        <h3><i class="far fa-image"></i>Recent Uploads</h3>
    </div>
    <div class="car-body">
        <div class="row">
            {{#each images}}
            <div class="col-md-4 text-center">
                <a href="">
                    <img src="../public/upload/{{filename}}" alt="" class="w-100">
                </a>
            </div>
            {{/each}}
        </div>
    </div>
</div>
</div>