<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>imgShare</title>

    {{!-- FONT AWESONE --}}


    {{!-- Bootstrap --}}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

    {{!-- custom css --}}
    <link rel="stylesheet" href="../../public/css/styles.css">
</head>

<body>
    <nav class="navbar navbar-dark bg-dark">
        <div>
            <a href="/" class="navbar-brand">
                <img src="../../public/img/imgshare-logo.png" alt="imgShare">
            </a>
        </div>
    </nav>

    <div class="container p-4">
        <div class="row">
            <div class="col-md-8">
                {{{body}}}
            </div>
            <div class="col-md-4">

            </div>
        </div>

    </div>

    <script src="https://kit.fontawesome.com/159dc3fbd0.js" crossorigin="anonymous"></script>
</body>

</html>